$font-header: "Libre Caslon Text", serif;
$font-serif: 'PT Serif', serif;
$font-sans: 'PT Sans', sans-serif;
$font-cursive: "Caveat Brush", cursive;

$font-primary: $font-serif;
$font-secondary: $font-serif;