&.actor.creature {
  background: url(../assets/decorations/creature-background.jpg) bottom;
  background-position: 40%;

  div.creature-behavior {
    @extend %simple-box;

    div.edit {
      @extend .simple-field;

      label {
        background: $c-brown;
        color: $c-gold;
        border: 1px solid $c-gold;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        float: left;
      }

      input {
        display: block;
      }
    }

    div.info {
      @extend %border-description;
      color: $c-brown;
      font-weight: bold;
      padding: 10px;
      // display: inline-block;
      display: flex;

      div {
        margin-right: 10px;
        width: 55px;
        text-align: center;

        label:first-child,
        label:nth-child(3) {
          background: $c-brown;
          border: 1px solid $c-gold;
          color: $c-gold;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          display: inline-block;
          text-align: center;
        }
      }
    }
  }

  div.creature-attacks {
    @extend %simple-box;

    &>div {
      @extend %border-description;
      color: $c-brown;
      padding: 10px;

      a {
        label:first-child {
          background: $c-brown;
          color: $c-gold;
          border: 1px solid $c-gold;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          display: inline-block;
          text-align: center;
        }

        label:nth-child(2) {
          font-weight: bold;
        }
      }

      .rollable:hover {
        text-shadow: 0 0 10px $c-brown;
        color: $c-brown;
      }
    }
  }

  div.creature-abilities {
    @extend %simple-box;

    &>div {
      @extend %border-description;
      color: $c-brown;
      padding: 10px;

      a {
        label:first-child {
          font-weight: bold;
        }
      }

      .rollable:hover {
        text-shadow: 0 0 10px $c-brown;
        color: $c-brown;
      }
    }
  }

  div.simple-health .dots {
    justify-content: flex-end;
    margin-right: 35px;
  }
}