&.actor.vehicle {

  &.rover {
    background: url(../assets/decorations/rover-background.png);
  }
  &.shuttle {
    background: url(../assets/decorations/shuttle-background.png);
  }

  header.header div.title label {
    top: -1px;
  }

  .meter-label {
    @extend %list-title-main;
  }

  div.principal {
    display: flex;
    position: relative;
    margin-top: -20px;
    gap: 10px;

    img.profile-img {
      border: 2px solid $c-gold;
      z-index: 2;
      aspect-ratio: 1 / 1;
      object-fit: contain;
      background: $c-brown;
      padding: 10px;
    }

    &>div {
      align-self: center;

      &:nth-of-type(1) {
        flex: 2;
        margin-left: -40px;

        select {
          @extend %cursive;
          background: unset;
          color: $c-brown;
          font-weight: bold;
          text-align: center;
          padding-left: 20px;
        }
      }

      &:nth-of-type(2) {
        flex: 2;
        padding: 23px 0 10px;
      }

      &:nth-of-type(3) {
        flex: 2;
      }
    }
  }

  %cargo-item-style {
    @extend .grid, .grid-12col;
    margin: 0;
    color: $c-brown;


    &>*:nth-child(1) {
      @extend .grid-span-5;
    }

    &>*:nth-child(2) {
      @extend .grid-span-2;
    }

    &>*:nth-child(4) {
      @extend .grid-span-4;
    }
  }


  .cargo-item {
    @extend %cargo-item-style;


    &>label,
    div:not(.expandable-field) {
      @extend %border-description, %cursive;
      align-content: center;
      height: 42px;
      padding: 0 10px;
    }

    div:not(.expandable-field) {
      padding: 0;
      display: flex;
      align-items: center;

      label {
        height: 35px;
        display: flex;
        align-items: center;
        font-size: var(--font-size-16);
      }
    }

    a img {
      @extend %list-img;
      cursor: var(--cursor-default);
    }
  }

  .cargo-item-title {
    @extend %cargo-item-style;

    label {
      &:first-child {
        @extend %list-title-main;
      }

      &:not(:first-child) {
        @extend %list-title;
      }
    }
  }

  %upgrade-item-style {
    @extend .grid, .grid-12col;
    margin: 0;
    color: $c-brown;

    &>*:nth-child(1) {
      @extend .grid-span-5;
    }

    &>*:nth-child(4) {
      @extend .grid-span-5;
    }
  }


  .upgrade-item {
    @extend %upgrade-item-style;


    &>label,
    div:not(.expandable-field) {
      @extend %border-description, %cursive;
      align-content: center;
      height: 42px;
      padding: 0 10px;
    }

    div:not(.expandable-field) {
      padding: 0;
      display: flex;
      align-items: center;

      label {
        height: 35px;
        display: flex;
        align-items: center;
        font-size: var(--font-size-16);
      }
    }

    a img {
      @extend %list-img;
    }
  }

  .upgrade-item-title {
    @extend %upgrade-item-style;

    label {
      &:first-child {
        @extend %list-title-main;
      }

      &:not(:first-child) {
        @extend %list-title;
      }
    }
  }

}