<div>
  <p>
    <strong>{{localize "CORIOLIS_TGD.Item.CrewManeuver.FIELDS.role.label"}}: {{localize (concat
      "CORIOLIS_TGD.Actor.Crew.FIELDS.roles." system.role ".label") }}</strong>
  </p>
  {{{system.description}}}
</div>