<section class='tab configuration scrollable {{tab.cssClass}}' data-group='primary' data-tab='configuration'>
  {{formGroup systemFields.role value=system.role choices=config.Crew.roleChoices localize=true
  classes="cgd-custom"}}
</section>