<div>
  <header class='sheet-header'>
    <img class='profile-img' src='{{item.img}}' data-edit='img' data-action='onEditImage'
      data-tooltip='{{item.name}}' />
    <div class='header-fields'>
      <div class='input-with-circle-title'>
        <label>{{localize "Name"}}</label>
        <input name='name' type='text' value='{{item.name}}' placeholder='Name' />
      </div>
    </div>
  </header>
  <img src="systems/coriolis-tgd/assets/decorations/divider4.svg" />
</div>